<body>



<div id="wrapper">
  <!-- start header -->

  <!-- end header -->
  <section id="featured" class="bg">
    <!-- start slider -->


    <!-- start slider -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <!-- Slider -->
          <div id="main-slider" class="main-slider flexslider">
            <slideshow [height]="height"
                       [autoPlay]="true"
                       [showArrows]="true"
                       [imageUrls]="imageUrls"
                       [lazyLoad]="imageUrls?.length > 1"
                       [autoPlayWaitForLazyLoad]="true">
            </slideshow>
          </div>
          <!-- end slider -->
        </div>
      </div>
    </div>


  </section>
  <section class="callaction">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="cta-text">
            <h2>Welcome to <span>Alliance Française</span> de Mahe</h2>
            <p> Check out AF Mahe Alerts here!</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="content">


    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="about-content">
            <h2 class="text-center">About our <span class="highlight">Organisation</span></h2>
            <br>
            <h3><strong>AllianceFrancaise de Mahe</strong> </h3>
            <p>
              Alliance Francaise de Mahe was started originally as a Centre for the
              study of French language on the <strong> 1st of May 1982 </strong>. It was then an
              affiliated unit of the Alliance Francaise of Pondicherry.
              From <strong> 5th Ocober 2000 Alliance Francaise Mahe became an independent
              member of the International Alliance Francaise family </strong> with due
              recognition from the Secretary General of Alliance Francaise, Paris.
              We have at present 209 members on our rolls out of which 101 are Life-members.
              This Institution is situated at present on the Old Post Office Road,
              Mundock Mahe.
            </p>
            <br>
            <h3>Aims and Objectives : </h3>
            <p>
              The AF basically aims to teach the French language and prepare
              students to acquire proficiency in the language at various levels.
              It also imparts coaching for International Competitive exams like
              DELF to help students to seek opportunities for higher education and
              employment in Francophone countries.
            </p>
            <p>
              The AF strives to promote friendship and harmony among nations through
              dissemination of French culture and liberal values
              The <strong>French National Day, July 14th </strong>is celebrated every year at this Centre
              Screening of classic films in French and Indian languages is always encouraged.
              AF seeks to nurture the flair for music and fine arts among its members.
              Painting exhibitions are held and reputed artists are invited to visit
              the Centre, demonstrate their skill and interact with our students and
              members.
            </p>
            <p>
              With this end in view music festivals are held annually to motivate
              students to participate in the `French Nightingale' contest held at
              the national level.
            </p>
            <p>
              Literary and oratorical skills in French are encouraged through healthy competition among the students.
            </p>
            <p>
              An Annual book exhibition by name <strong>` Lire en fete'</strong> is held to reinforce
              the reading habit among the youth.
              A well-stacked library with around 2260 titles in French language is a
              valuable resource of this Centre..
              We have an impressive collection of audio- video equipment for the
              benefit of the teachers and the taught.
            </p>
            <p>
            <p>
              Our <strong>founder-President Prof. Palery Damodaran </strong>, the former Chief
              Educational Officer of Mahe was a legendary figure who continues to
              inspire us till today. He was a doyen of English education in Mahe who
              later turned to popularising French education in Mahe with an
              evangelizing zeal
              It was as a consequence of his untiring efforts that Alliance
              Francaise Mahe has blossomed into a full-fledged Centre for French
              studies.
              Some of the stalwarts who had served this institution with credit are
              remembered with deep gratitude. Some of them are no more but their
              contribution lives through the students they had helped to mould for
              life.
              <strong>
                Mr. Kayanadath Raghavan
                Mr. V. P. Divakaran
                Mr.N. Purushothaman
                Mr. V.P. Balachandran
                Mr. Pandaradathil Ravindranathan
                Mr. Maniyambath Raghavan
              </strong>
              and many more..

              The list above is far from complete and we pay our humble homage to
              the sacred memory of all those self-less souls who had contributed
              their mite to raise this Centre of learning and culture to its present
              stature.
            <p>
              The present set of officers-bearers keeps the banner of Alliance
              Francaise Mahe flying full mast under the dynamic leadership of
            </p>
            <strong>
              <ul>
                <li>Adv. Syra Satheesh - President</li>
                <li>Mr. Adiery kanakarajan - Vice-president</li>
                <li>Mr. M. Sivadas - Secretary</li>
                <li>Mrs. Ajita Cacatte - Treasurer</li>
              </ul>
            </strong>
            <p>
              Rest of present committee members are
            </p>
            <ul>
              <li>Mr. Uthamaraj</li>
              <li>Mr. K. B. Mammootty</li>
              <li>Mr. Dr Antony Fernandez</li>
              <li>Mr. A. Gangadharan</li>
              <li>Mr. E. N. Viswanathan</li>
              <li>Mr. T. Ramesh</li>
              <li>Mrs. C. E. Rasitha</li>
            </ul>

          </div>
        </div>
      </div>
    </div>

    <!-- divider -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="blankline">
          </div>
        </div>
      </div>
    </div>
    <!-- end divider -->

    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="text-center">
            <h2>Our <span class="highlight">Courses</span> and <span class="highlight">Activities</span></h2>
            <br>
            <p>We have a wide range of short courses and qualification courses, activities, events, MakerSpaces and social groups.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-sm-3 col-md-3 col-lg-3">
              <div class="box">
                <div class="aligncenter">
                  <div class="icon">
                    <i class="fa fa-book fa-5x"></i>
                  </div>
                  <h4>Library of French books</h4>
                </div>
              </div>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
              <div class="box">
                <div class="aligncenter">
                  <div class="icon">
                    <i class="fa fa-graduation-cap fa-5x"></i>
                  </div>
                  <h4>Classes in French cuisine</h4>
                </div>
              </div>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
              <div class="box">
                <div class="aligncenter">
                  <div class="icon">
                    <i class="fa fa-language fa-5x"></i>
                  </div>
                  <h4>Translation services</h4>
                </div>
              </div>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
              <div class="box">
                <div class="aligncenter">
                  <div class="icon">
                    <i class="fa fa-file-image-o fa-5x"></i>
                  </div>
                  <h4>Cultural Fest</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- divider -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="blankline">
          </div>
        </div>
      </div>
    </div>
    <!-- end divider -->

    <!-- parallax  -->
    <div id="parallax1" class="parallax text-light text-center marginbot50" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row appear stats">
          <div class="col-lg-9">
            <div class="cta-btn">
              <a href="http://afmagazine.in/home/" target="_blank" class="btn btn-theme btn-lg">Grab it now <i class="fa fa-angle-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>



    <!-- divider -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="solidline">
          </div>
        </div>
      </div>
    </div>



    <!-- divider -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="solidline">
          </div>
        </div>
      </div>
    </div>
    <!-- end divider -->

    <!-- clients -->
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xs-6 col-md-3 aligncenter client">
          <img alt="logo" src="../../assets/img/clients/logo1.png" class="img-responsive imagealigncenter" />
        </div>

        <div class="col-xs-6 col-md-3 aligncenter client">
          <img alt="logo" src="../../assets/img/clients/logo2.png" class="img-responsive imagealigncenter" />
        </div>

        <div class="col-xs-6 col-md-3 aligncenter client">
          <img alt="logo" src="../../assets/img/clients/logo3.png" class="img-responsive imagealigncenter" />
        </div>

        <div class="col-xs-6 col-md-3 aligncenter client">
          <img alt="logo" src="../../assets/img/clients/logo4.png" class="img-responsive imagealigncenter" />
        </div>

      </div>
    </div>

  </section>

</div>
<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>



</body>
